<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoinQuest</title>
    <link rel="icon" type="image/x-icon" href="./CoinQuest-logos.jpeg">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>

    <header class="wavy-header">
      <h1>Welcome to CoinQuest!</h1>

      <nav id="nav-bar">
        <div id="nav-links">
        <a class="p-nav" id="links" href="/">Home</a>
        <a class="p-nav" id="links" href="/profile">Profile</a>
        {{#if loggedIn}}
          <a href="/funds/{{userPlain.id}}/update">CQ Funds: ${{userFunds}}</a>
          <button id="logout">Logout</button>
        {{else}}
          <a class="p-nav" id="links" href="/login" id="login">Login</a>
        {{/if}}
      </nav>
      </div>
    </header>

    <main>
      <div class="bodyContainer">
        {{{body}}}
      </div>
    </main>

    <footer>
      <p>CoinQuest
        <a href="https://github.com/ltrokey">by Lacey Trokey, </a>
        <a href="https://github.com/arunp44">Arun Prasad, </a>
        <a href="https://github.com/aubreymlj96">Aubrey Johnson</a>
      </p>
    </footer>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>

</html>