<select id="categoryFilter">
  <option value="">Filter by:</option>
  <option value="1">$25 Under</option>
  <option value="2">$25 - $100</option>
  <option value="3">$100 and Over</option>
</select>

<a href="/">Clear Filters</a>

<div class="productContainer">
  {{#each products as |product|}}
    <div class="productCards">
      <h3>{{product.title}}</h3>
      <div>
        <a href="/product/{{product.id}}">
          <img src="/images/{{product.filename}}" alt="#" />
        </a>
      </div>
    </div>
  {{/each}}
</div>

<script src="/js/category.js"></script>