<h2></h2>

<div class="web-options">
<div class="dropdown">
<select id="categoryFilter">
  <option value="">Filter by:</option>
  <option value="1">$25 Under</option>
  <option value="2">$25 - $100</option>
  <option value="3">$100 and Over</option>
</select>
</div>
</div>

<div class="web-options"id="clear-filters">
<a href="/">Clear Filters</a>
</div>

<div class="productContainer">
  {{#each products as |product|}}
    <div class="productCards">
      <h3>{{product.title}}</h3>
      <div>
        <a href="/product/{{product.id}}">
          <img
            src="/images/{{product.filename}}"
            alt="{{product.description}}"
          />
        </a>
      </div>
    </div>
  {{/each}}
</div>

<script src="/js/category.js"></script>