<div class="loginCard">

  <div class="login-header">
  <h3>Login</h3>
  </div>

  <form class="loginForm" action="/api/users/login" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
    </div>

    <button type="submit">Login</button>
  </form>

  <div>
    <p>Don't have an account? <a href="/signUp">Sign up</a></p>
  </div>

</div>

<script src="/js/login.js"></script>