<div class="signUpCard">

  <div class="signup-header">
  <h3>Sign Up</h3>
  </div>

  <form class="signUpForm" action="/api/users/signup" method="POST">
    <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
    </div>
    
    <div>
    <label for="funds">QC Funds:</label>
    <input
      type="number"
      id="funds"
      name="funds"
      required
      placeholder="Enter QC Funds"
      min="0"
      max="100000"
      step="1"
    />
    </div>
    
    <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    </div>

    <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      required
    />
    </div>

    <button type="submit">Sign Up</button>
  </form>

  <div>
    <p>Already have an account? <a href="/login">Login</a></p>
  </div>

</div>

<script src="/js/signUp.js"></script>